<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>[$SeoTitle$]</title>
<meta name="description" content="[$Describ$]" />
<meta name="keywords" content="[$Keywords$]" />
<link href="../Skin/Blue/Style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
#myFocus{ width:450px; height:283px;}
#allmap{ width:100%; height:400px;}
</style>
<script type="text/javascript" src="/js/commen.js"></script>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/myfocus/myfocus-2.0.1.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=[$MapKey$]"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
<link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
<script type="text/javascript">
$(document).ready(function(){
	$('#nav_my').hover(
				function(){$(this).addClass('nav_my_on');},
				function(){$(this).removeClass('nav_my_on');}
	);	
	$('#nav_hotel').addClass('on');
});
myFocus.set({
	id:'myFocus',//ID
	pattern:'mF_games_tb',//风格
	loadIMGTimeout:0
});
</script>
</head>

<body>
[$Head$]
<div class="container">	
<div class="position">当前位置：<a href="/">首页</a> &gt; <a href="/Hotel/">酒店</a> &gt; <a href="/Hotel/List.aspx?city1=[$City1$]">[$City1Name$]</a> &gt;<a href="/Hotel/List.aspx?city1=[$City1$]&city2=[$City2$]">[$City2Name$]</a></div>
<div class="show_title"><h1>[$Title$]</h1></div>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="466" valign="top">
      <div id="myFocus">
        <div class="pic">
          <!--图片列表-->
          <ul>
            [$Pics$]
          </ul>
        </div>
      </div></td>
    <td width="7"></td>
    <td valign="top">
    <div class="show_blackbox">
    	<p>主题：[$Topic$] 星级：[$LevelName$]</p>
    	<p>均价：¥ <span class="price">[$Price$]</span> 元</p>
    	<p>地址：[$Address$]</p>
    	<p>开业时间：[$Kysj$]</p>
    	<p>联系方式：[$Contact$]</p>
      <p>点击：[$Hits$]次</p>
    	<p>更新日期：[$PubDate$]</p>    	
    </div>
    <form action="Order.aspx" method="get" enctype="application/x-www-form-urlencoded">
    <div class="show_prices3">
      <ul>
      	<li class="head"><span class="title">名称</span><span class="price1" style="color:#FFF;">市场价</span><span class="price2" style="color:#FFF;">优惠价</span><span class="breakfst" style="color:#FFF;">早餐</span></li>
        [$Prices$]
      </ul>
    </div>
    <div class="show_orderbox">
    <input type="hidden" name="id" value="[$id$]" />
    <input type="image" src="/images/order.gif" /></a>
    <a href="javascript:setHome()" title="添加到收藏夹"><img src="/images/favorite.gif" alt="add to cart" border="0"></a>
    </div>
    </form>
    </td>
  </tr>
</table>
<div class="show_hintbox">
  <strong>提示：</strong>..............................。</div>
<div class="tab_show" style="padding-left:10px;">
  <ul>
    <li class="on" id="nav_2_1" onclick="javascript:htab(2,1,2);">酒店介绍 </li>
    <li class="off" id="nav_2_2" onclick="javascript:htab(2,2,2);">电子地图 </li>        
  </ul>
</div>
<div class="tab_show_cnt">
  <div id="content_2_1" style="DISPLAY: block;">[$Content$]</div>
  <div id="content_2_2" style="DISPLAY: block;">
 		<div id="allmap"><div id="panel" style="position:absolute;"></div></div>
  </div>  
</div>            
<div class="br"></div>
</div>
<script type="text/javascript">
var map = new BMap.Map("allmap");
map.enableScrollWheelZoom();
var pt = new BMap.Point([$Lng$],[$Lat$]);
map.centerAndZoom(pt, 14);
var myIcon = new BMap.Icon("/images/marker.png", new BMap.Size(32,44));
var marker = new BMap.Marker(pt,{icon:myIcon});  
map.addOverlay(marker);
var content = '<div style="margin:0;line-height:20px;padding:2px;">' +
                    '<img src="[$Photo$]" alt="" style="float:right;zoom:1;overflow:hidden;width:100px;height:100px;margin-left:3px;"/>' +
                    '地址：[$Address$]<br/>电话：[$Contact$]' +
                  '</div>';
var searchInfoWindow = null;
searchInfoWindow = new BMapLib.SearchInfoWindow(map, content, {
	title  : "[$Title$]",      //标题
	width  : 290,             //宽度
	height : 105,              //高度
	panel  : "panel",         //检索结果面板
	enableAutoPan : true,     //自动平移
	searchTypes   :[
		BMAPLIB_TAB_SEARCH,   //周边检索
		BMAPLIB_TAB_TO_HERE,  //到这里去
		BMAPLIB_TAB_FROM_HERE //从这里出发
	]
});
searchInfoWindow.open(marker); //在marker上打开检索信息串口
marker.addEventListener("click", function(e){
	searchInfoWindow.open(marker);
});
</script>
[$Root$]
</body>
</html>
