<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>$CategoryName$</title>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta content="$Description$" name="description" />
		<meta content="$Keywords$" name="keywords" />
		<link href="/Skin/Blue/Style.css" rel="stylesheet" type="text/css" />
		<link href="/style/show.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="/js/commen.js"></script>
	</head>
	<body>
  $Head$
		<div class="container">						
			<div class="position">
				<span class="col_right"><a href="/Rss.aspx?id=$CategoryId$">RSS</a></span>现在位置：<a href="$SiteUrl$">首页</a>$Position$</div>
			<div class="listtitle">
						$CategoryName$</div>
					<div class="rowslist">
						<ul>
							$ArticleList$
						</ul>
					</div>
					<div style="line-height:30px; text-align:center;">$ShowPage$</div>
			<div class="br">
				&nbsp;</div>
			$Root$</div>
			</body>
</html>
