  <div id="site_help">
  	<div class="serv">
    	<div class="t">24小时服务热线</div>
      <div class="c">
      电话：88888888<br />
      QQ：88888888
      </div>
    </div>
  	<dl>
    	<dt>预订常见问题</dt>
      <dd>
        <ul>
          <li> <a href="/category/4/2013-09-18/15621453.html" target="_blank">旅游预订方式</a></li>
          <li> <a href="/category/4/2013-09-18/15749671.html" target="_blank">旅游预订常见问题</a></li>
          <li> <a href="/category/4/2013-09-18/15812968.html" target="_blank">签定旅游合同</a></li>
          <li> <a href="/category/4/2013-09-18/15825203.html" target="_blank">预订流程与服务承诺</a></li>
        </ul>
      </dd>
    </dl>
    <dl>
    	<dt>付款和发票</dt>
      <dd>
        <ul>
          <li> <a href="/category/5/2013-09-18/15843578.html" target="_blank">付款方式</a></li>
          <li> <a href="/category/5/2013-09-18/1590359.html" target="_blank">付款说明与使用帮助</a></li>
          <li> <a href="/category/5/2013-09-18/15921781.html" target="_blank">支付安全保障</a></li>
          <li> <a href="/category/5/2013-09-18/1593115.html" target="_blank">关于发票</a></li>
        </ul>
      </dd>
</dl>
    <dl>
    	<dt>常见问题</dt>
      <dd>
        <ul>
          <li> <a href="/category/6/2013-09-18/15941671.html" target="_blank">旅游常见问题</a></li>
          <li> <a href="/category/6/2013-09-18/15100578.html" target="_blank">旅游工具</a></li>
          <li> <a href="/category/6/2013-09-18/15108671.html" target="_blank">旅游产品名词解释</a></li>
        </ul>             
      </dd>
    </dl>
    <dl>
    	<dt>售后服务</dt>
      <dd>
        <ul>
          <li> <a href="/category/6/2013-09-18/15108672.html" target="_blank">如何办理护照</a></li>
          <li> <a href="/category/7/2013-09-18/151123578.html" target="_blank">签证相关问题解答？</a></li>
          <li> <a href="/category/7/2013-09-18/151148390.html" target="_blank">退团、退款问题解答？</a></li>
          <li> <a href="/category/7/2013-09-18/15125421.html" target="_blank">保险？保额多少？</a></li>
        </ul>
      </dd>
    </dl>
  </div>
</div>
<div id="root">
	<div class="nav"><a href="/category/8/2013-09-18/152950843.html">关于我们</a> | <a href="/category/8/2013-09-18/153015953.html">法律声明</a> | <a href="/category/8/2013-09-18/153022515.html">诚聘英才</a> | <a href="/category/8/2013-09-18/153034687.html">帮助中心</a> | <a href="/category/8/2013-09-18/153047328.html">友情链接</a> | <a href="/category/8/2013-09-18/153056750.html">免责声明</a> | <a href="/category/8/2013-09-18/15313609.html">广告业务</a> | <a href="/category/8/2013-09-18/153110609.html">合作伙伴</a> | <a href="/category/8/2013-09-18/153117468.html">联系我们</a> | <a href="/category/8/2013-09-18/153125796.html" target="_blank">网站地图</a></div>
  <div class="ctext">
    <p>Copyright © 2010-2013 TotCms演示站 All Rights Reserved. Powered By TotCms</p>
    <p>地址：山东省济南市市中区经八路21号| 服务热线：0531-82222062 | 在线QQ：641061 | E-mail：641061@qq.com</p>
    <p><a target="_blank" href="http://www.miitbeian.gov.cn/">鲁ICP备8888888号</a></p>
  </div>
</div>