<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>站内搜索_[$keyword$]</title>
<meta name="description" content="站内搜索" />
<meta name="keywords" content="站内搜索" />
<link href="skin/blue/style.css" rel="stylesheet" type="text/css" />
<link href="style/pages.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../js/commen.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('#news_key').val('[$keyword$]');
});
</script>
<style type="text/css">
.search_title{ line-height:30px;}
.search_title a{ font-size:14px; font-weight:bold; color:Blue; text-decoration:none;}
.search_desc{ margin:5px 0px; line-height:20px;}
.search_url{ line-height:22px; color:Green;}
.search_date{ color:Gray;}
</style>
</head>
<body>
[$Head$]
<div class="container">
  <div style="background-color:#F2F2F2; line-height:30px; padding:0px 0px 0px 10px; margin:5px 0px;">
  共找到相关信息<span class="red">[$GetTotalNum$]</span>条 用时 [$UseTime$]秒
  </div>
 	[$Lists$]
  <div class="pages">[$Pages$]</div>
</div>
[$Root$]
<script type="text/javascript">htab(1,6,6);</script>
</body>
</html>
