<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>[$Title$]-旅游签证</title>
<meta name="description" content="[$Describ$]" />
<meta name="keywords" content="[$Keywords$]" />
<link href="../Skin/Blue/Style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
#myFocus{ width:450px; height:283px;}
#allmap{ width:100%; height:400px;}
</style>
<script type="text/javascript" src="/js/commen.js"></script>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/myfocus/myfocus-2.0.1.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('#nav_my').hover(
				function(){$(this).addClass('nav_my_on');},
				function(){$(this).removeClass('nav_my_on');}
	);	
	$('#nav_visa').addClass('on');
});
</script>
</head>

<body>
[$Head$]
<div class="container">	
<div class="position">当前位置：<a href="/">首页</a> &gt; <a href="/Visa/">旅游签证</a> &gt; <a href="/Visa/c[$CountryId$]">[$CountryT$]</a>&gt; <a href="/Visa/t[$TypeId$]">[$TypeT$]</a> </div>
<div class="show_title"><h1>[$Title$]</h1></div>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="466" valign="top">
      <div id="myFocus">
        <div class="pic"> <a href="[$Photo$]" target="_blank"><img src="[$Photo$]" width="450" height="283" border="0" /></a>
        </div>
      </div></td>
    <td width="7"></td>
    <td valign="top">
    <div class="show_blackbox">
    	<p>国家：[$CountryT$]</p>
    	<p>签发城市：[$CityT$]</p>
      <p>类型：[$TypeT$]</p>
      <p>有效期：[$Yxq$]</p>
      <p>办理时长：[$Blss$]</p>
      <p>最长停留时间：[$Zctlsj$]</p>
      <p>入境次数：[$Rjcs$]</p>
      <p>面试：[$Ms$]</p>
			<p>点击：[$Hits$]次</p>
    	<p>更新日期：[$PubDate$]</p>
    	
    </div>
    <form action="Order.aspx" method="get" enctype="application/x-www-form-urlencoded">
    <div class="show_orderbox">
    <input type="hidden" name="id" value="[$id$]" />
    <input type="image" src="/images/order.gif" /></a>
    <a href="javascript:setHome()" title="添加到收藏夹"><img src="/images/favorite.gif" alt="add to cart" border="0"></a>
    </div>
    </form>
    </td>
  </tr>
</table>
<div class="show_hintbox">
  <strong>提示：</strong>.............</div>
<div class="tab_show" style="padding-left:10px;">
  <ul>
    <li class="on" id="nav_2_1" onclick="javascript:htab(2,1,2);">详细介绍</li>
    <li class="off" id="nav_2_2" onclick="javascript:htab(2,2,2);">所需材料</li>        
  </ul>
</div>
<div class="tab_show_cnt">
  <div id="content_2_1" style="DISPLAY: block;">[$Content$]</div>
  <div id="content_2_2" style="DISPLAY: block;"> [$Sxcl$]		
  </div>  
</div>            
<div class="br"></div>
</div>
[$Root$]
</body>
</html>
